.loading-more-posts {
  width: 100%;
  position: relative;
  text-align: center;
}

.loading-more-posts a {
  color: #212121;
  background-color: #eee;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: table;
  margin: 20px auto;
}

.btn-load-more-posts {
  color: #212121;
  background-color: #FFFFF;
  border: #000000 1px solid;
  box-sizing: border-box;;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: table;
  margin: 20px auto;
}

.previus-posts {
  display: none;
}
